<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}E2 Spy{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.6.0.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons-1.4.0.css') }}">
        {% block end_of_head %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid container-top mt-3">
            <div class="row">
                <div class="col">
                    <nav>
                        <ol class="breadcrumb">
                            {% block breadcrumb %}
                            <li class="breadcrumb-item active">E2 Spy</li>
                            {% endblock %}
                        </ol>
                    </nav>
                </div>
            </div>

            {% block content %}{% endblock %}

        </div>

        <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-4.6.0.bundle.js') }}"></script>
        {% block end_of_body %}{% endblock %}
    </body>
</html>
