<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}E2 Spy{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.1.3.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons-1.7.2.css') }}">
        {% block end_of_head %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="pt-3 row justify-content-between">
                <div class="col-auto">
                    {% block breadcrumb %}
                    <a class="btn btn-outline-dark" href="#">
                        <strong>
                            <i class="bi-house-fill"></i>
                            E2 Spy
                        </strong>
                    </a>
                    {% endblock %}
                </div>
                <div class="col-auto">
                    {% if g.unlocked %}
                    <form action="{{ url_for('lock') }}" class="d-inline" method="post">
                        <input name="endpoint" type="hidden" value="{{ request.endpoint }}">
                        <button class="btn btn-outline-dark" title="Lock this page" type="submit">
                            <i class="bi-unlock"></i>
                        </button>
                        </form>
                    {% endif %}
                    <a class="btn btn-outline-dark" href="{{ url_for('settings') }}" title="Settings">
                        <i class="bi-gear"></i>
                    </a>
                </div>
            </div>

            {% block content %}{% endblock %}

        </div>

        <script src="{{ url_for('static', filename='bootstrap-5.1.3.bundle.js') }}"></script>
        {% block end_of_body %}{% endblock %}
    </body>
</html>
