{% extends 'base.html' %}

{% set title = 'Closed Jobs' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include 'includes/back-to-home.html' %}
{% endblock %}

{% block content %}
    {% include 'includes/page-title-h1.html' %}

    <div class="pt-3 row">
        <div class="col">
            <a class="btn btn-outline-success" href="{{ url_for('closed_jobs_xlsx') }}">
                <i class="bi-file-earmark-spreadsheet"></i>
                Export
            </a>
        </div>
    </div>

    <div class="pt-3 row">
        <div class="col">
            <table class="table table-striped">
                <thead class="bg-dark position-sticky text-light top-0">
                <tr>
                    <th>Job Number</th>
                    <th>Part Number</th>
                    <th>Part Description</th>
                    <th>Order Number</th>
                    <th>Customer Code</th>
                    <th>Customer PO Number</th>
                    <th>Date Closed</th>
                    <th>Job Notes</th>
                </tr>
                </thead>
                <tbody>
                {% for row in g.rows %}
                    <tr>
                        <td>{{ row.job_number }}</td>
                        <td>{{ row.part_number }}</td>
                        <td>{{ row.part_description }}</td>
                        <td>{{ row.order_number }}</td>
                        <td>{{ row.customer_code }}</td>
                        <td>{{ row.customer_po_number or '' }}</td>
                        <td class="text-nowrap">{{ row.date_closed.date() }}</td>
                        <td>{% include 'includes/job-notes-initial.html' %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
