{% extends 'base.html' %}

{% set title = 'Days Since Last Activity' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include 'includes/back-to-home.html' %}
{% endblock %}

{% block content %}
    {% include 'includes/page-title-h1.html' %}

    <div class="pt-3 row">
        <div class="col">
            <a class="btn btn-outline-success" href="{{ url_for('days_since_last_activity_xlsx') }}">
                <i class="bi-file-earmark-spreadsheet"></i>
                Export
            </a>
        </div>
    </div>

    <div class="pt-3 row">
        <div class="col">
            <table class="table table-striped">
                <thead class="bg-dark position-sticky text-light top-0">
                <tr>
                    <th>Job Number</th>
                    <th>Part Number</th>
                    <th>Part Description</th>
                    <th>Current Step</th>
                    <th>Next Step</th>
                    <th>Actual Start Date</th>
                    <th>Actual End Date</th>
                    <th>Days Since Last Activity</th>
                    <th colspan="2">Job Notes</th>
                </tr>
                </thead>
                <tbody>
                {% for row in g.rows %}
                    <tr>
                        <td>{{ row.job_number }}</td>
                        <td>{{ row.part_number }}</td>
                        <td>{{ row.part_description }}</td>
                        <td>{{ row.current_step }}</td>
                        <td>{{ row.next_step }}</td>
                        <td>{{ row.actual_start_date.date() if row.actual_start_date }}</td>
                        <td>{{ row.actual_end_date.date() if row.actual_end_date }}</td>
                        <td>{{ row.days_since_last_activity if row.days_since_last_activity is integer }}</td>
                        <td>{{ (g.job_notes.get(row.job_number) or '') | replace('\n', '<br>' | safe) }}</td>
                        <td>
                            <a class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                               data-job-number="{{ row.job_number }}" data-next-view="days_since_last_activity"
                               data-notes="{{ g.job_notes.get(row.job_number) or '' }}" href="#modal-job-notes">
                                <i class="bi-pencil-fill"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include 'includes/modal-job-notes.html' %}

{% endblock %}

{% block end_of_body %}
    <script src="{{ url_for('static', filename='modal-job-notes.js') }}"></script>
{% endblock %}
