{% extends 'base.html' %}

{% block content %}
    <div class="row pt-3">
        <div class="col">
            <a class="btn btn-outline-dark slow" href="{{ url_for('action_summary') }}">Action Summary</a>
            <a class="btn btn-outline-dark slow" href="{{ url_for('closed_jobs') }}">Closed Jobs</a>
            <a class="btn btn-outline-dark slow" href="{{ url_for('days_since_last_activity') }}">Days Since Last Activity</a>
            <a class="btn btn-outline-dark slow" href="{{ url_for('jobs_closed_last_week') }}">Jobs Closed Last Week</a>
            <a class="btn btn-outline-dark slow" href="{{ url_for('loading_summary') }}">Loading Summary</a>
            <a class="btn btn-outline-dark slow" href="{{ url_for('open_sales_report') }}">Open Sales Report</a>
        </div>
    </div>
{% endblock %}

{% block end_of_body %}
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
