{% extends 'base.html' %}

{% set title = 'Job Performance' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include 'includes/back-to-home.html' %}
{% endblock %}

{% block content %}
    {% include 'includes/page-title-h1.html' %}

    <div class="pt-3 row">
        <div class="col">
            <form class="g-1 row">
                <div class="col-auto">
                    <div class="input-group">
                        <span class="input-group-text">date closed between</span>
                        <input aria-label="Start date" class="form-control" name="start_date" type="date"
                                value="{{ g.start_date }}">
                        <span class="input-group-text">and</span>
                        <input aria-label="End date" class="form-control" name="end_date" type="date"
                                value="{{ g.end_date }}">
                    </div>
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-success" type="submit">
                        <i class="bi-arrow-clockwise"></i>
                        Apply
                    </button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-success" formaction="{{ url_for('job_performance_xlsx') }}"
                            name="get_all" type="submit" value="false">
                        <i class="bi-file-earmark-spreadsheet"></i>
                        Export
                    </button>
                </div>
                <div class="col-auto">
                    <a class="btn btn-outline-success" href="{{ url_for('job_performance_xlsx', get_all='true') }}">
                        <i class="bi-file-earmark-spreadsheet"></i>
                        Export all
                    </a>
                </div>
            </form>
        </div>
    </div>

    <div class="pt-3 row">
        <div class="col">
            <table class="table table-striped">
                <thead class="bg-dark position-sticky text-light top-0">
                <tr>
                    <th>Job Number</th>
                    <th>Part Number</th>
                    <th>Part Description</th>
                    <th>Date Closed</th>
                    <th>Estimated Hours</th>
                    <th>Actual Hours</th>
                    <th>Performance</th>
                    <th colspan="2">Job Notes</th>
                </tr>
                </thead>
                <tbody>
                {% for row in g.rows %}
                    <tr>
                        <td>{{ row.job_number }}</td>
                        <td>{{ row.part_number }}</td>
                        <td>{{ row.part_description }}</td>
                        <td>{{ row.date_closed }}</td>
                        <td>{{ '{:,.2f}'.format(row.total_estimated_hours) }}</td>
                        <td>{{ '{:,.2f}'.format(row.total_actual_hours) }}</td>
                        <td {% if row.performance > 100 %}class="table-danger"{% endif %}>{{ row.performance }}%</td>
                        <td>{{ (g.job_notes.get(row.job_number) or '') | replace('\n', '<br>' | safe) }}</td>
                        <td>
                            <a class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                               data-job-number="{{ row.job_number }}" data-next-view="job_performance"
                               data-notes="{{ g.job_notes.get(row.job_number) or '' }}" href="#modal-job-notes">
                                <i class="bi-pencil-fill"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include 'includes/modal-job-notes.html' %}

{% endblock %}

{% block end_of_body %}
    <script src="{{ url_for('static', filename='modal-job-notes.js') }}"></script>
{% endblock %}
