{% extends 'base.html' %}

{% set title = 'Loading Summary' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include 'includes/back-to-home.html' %}
{% endblock %}

{% block content %}
    {% include 'includes/page-title-h1.html' %}

    <div class="pt-3 row">
        <div class="col">
            <form class="row g-1">
                <div class="col-auto">
                    <div class="dropdown">
                        <button class="btn btn-outline-primary dropdown-toggle" data-bs-auto-close="outside"
                                data-bs-toggle="dropdown" type="button">
                            Departments
                        </button>
                        <div class="dropdown-menu p-2">
                            <div class="mb-3">
                                {% for dept in g.departments %}
                                <div class="form-check">
                                    <input class="form-check-input" id="check-{{ dept | lower }}" name="department"
                                           type="checkbox" value="{{ dept }}"
                                           {{ 'checked' if dept in g.selected_departments }}>
                                    <label class="form-check-label" for="check-{{ dept | lower }}">{{ dept }}</label>
                                </div>
                                {% endfor %}
                            </div>
                            <button class="btn btn-outline-primary" type="submit">
                                <i class="bi-funnel"></i>
                                Filter
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-success" formaction="{{ url_for('loading_summary_xlsx') }}"
                            type="submit">
                        <i class="bi-file-earmark-spreadsheet"></i>
                        Export
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Department</th>
                        <th>Job Number</th>
                        <th>Work Center</th>
                        <th>Priority</th>
                        <th>Part Number</th>
                        <th>Description</th>
                        <th>Qty to Make</th>
                        <th>Qty Open</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Due Date</th>
                        <th>Next Step</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in g.rows %}
                    <tr>
                        <td>{{ row.department_name }}</td>
                        <td>{{ row.job_number }}</td>
                        <td>{{ row.work_center }}</td>
                        <td>{{ row.priority }}</td>
                        <td>{{ row.part_number }}</td>
                        <td>{{ row.part_description }}</td>
                        <td>{{ row.quantity_to_make|int }}</td>
                        <td>{{ row.quantity_open|int }}</td>
                        <td>{{ row.start_date.date() }}</td>
                        <td>{{ row.end_date.date() }}</td>
                        <td>{{ row.due_date.date() }}</td>
                        <td>{{ row.next_step }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
