{% extends 'base.html' %}

{% set page_title = 'Loading Summary' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">E2 Spy</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock %}

{% block content %}
    <div class="row pt-3">
        <div class="col">
            <h1>{{ page_title }}</h1>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col">
            <form>
                <div class="form-row">
                    <div class="col-auto">
                        <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle mr-1" data-toggle="dropdown"
                                    type="button">
                                Departments
                            </button>
                            <div class="dropdown-menu p-2">
                                <div class="form-group">
                                    {% for dept in g.departments %}
                                    <div class="custom-checkbox custom-control">
                                        <input class="custom-control-input" id="check-{{ dept | lower }}"
                                               name="department" type="checkbox" value="{{ dept }}"
                                               {{ 'checked' if dept in g.selected_departments }}>
                                        <label class="custom-control-label" for="check-{{ dept | lower }}">
                                            {{ dept }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                                <button class="btn btn-primary" type="submit">Filter</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-success" formaction="{{ url_for('loading_summary_xlsx') }}"
                                type="submit">
                            <i class="bi-file-earmark-spreadsheet"></i>
                            Export
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Department</th>
                        <th>Job Number</th>
                        <th>Work Center</th>
                        <th>Priority</th>
                        <th>Part Number</th>
                        <th>Description</th>
                        <th>Qty to Make</th>
                        <th>Qty Open</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Due Date</th>
                        <th>Next Step</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in g.rows %}
                    <tr>
                        <td>{{ row.department_name }}</td>
                        <td>{{ row.job_number }}</td>
                        <td>{{ row.work_center }}</td>
                        <td>{{ row.priority }}</td>
                        <td>{{ row.part_number }}</td>
                        <td>{{ row.part_description }}</td>
                        <td>{{ row.quantity_to_make|int }}</td>
                        <td>{{ row.quantity_open|int }}</td>
                        <td>{{ row.start_date.date() }}</td>
                        <td>{{ row.end_date.date() }}</td>
                        <td>{{ row.due_date.date() }}</td>
                        <td>{{ row.next_step }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block end_of_body %}
    <script src="{{ url_for('static', filename='loading-summary.js') }}"></script>
{% endblock %}
