{% extends 'base.html' %}

{% set title = 'Open Sales Report' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include 'includes/back-to-home.html' %}
{% endblock %}

{% block content %}
    {% include 'includes/page-title-h1.html' %}

    <div class="pt-3 row">
        <div class="col">
            <a class="btn btn-outline-success" href="{{ url_for('open_sales_report_xlsx') }}">
                <i class="bi-file-earmark-spreadsheet"></i>
                Export
            </a>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col">
            <table class="table table-responsive table-striped">
                <thead class="bg-dark position-sticky text-light top-0">
                    <tr>
                        <th class="bg-dark position-sticky text-light top-0">Job Number</th>
                        <th class="bg-dark position-sticky text-light top-0">Priority</th>
                        <th class="bg-dark position-sticky text-light top-0">Order Type</th>
                        <th class="bg-dark position-sticky text-light top-0">Status</th>
                        <th class="bg-dark position-sticky text-light top-0">Parent Job Number</th>
                        <th class="bg-dark position-sticky text-light top-0">Part Number</th>
                        <th class="bg-dark position-sticky text-light top-0">Part Description</th>
                        <th class="bg-dark position-sticky text-light top-0">Current Step</th>
                        <th class="bg-dark position-sticky text-light top-0">Qty to Make</th>
                        <th class="bg-dark position-sticky text-light top-0">Qty Open</th>
                        <th class="bg-dark position-sticky text-light top-0">Customer Code</th>
                        <th class="bg-dark position-sticky text-light top-0">Customer PO</th>
                        <th class="bg-dark position-sticky text-light text-end top-0">Sales Amount</th>
                        <th class="bg-dark position-sticky text-light top-0">Order Date</th>
                        <th class="bg-dark position-sticky text-light top-0">Ship By Date</th>
                        <th class="bg-dark position-sticky text-light top-0">Scheduled End Date</th>
                        <th class="bg-dark position-sticky text-light top-0">Vendor</th>
                        <th class="bg-dark position-sticky text-light top-0">Vendor PO</th>
                        <th class="bg-dark position-sticky text-light top-0">PO Date</th>
                        <th class="bg-dark position-sticky text-light top-0">PO Due Date</th>
                        <th class="bg-dark position-sticky text-light top-0" colspan="2">Job Notes</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in g.rows %}
                    <tr {% if row.status == 'Hold' %} class="table-warning" {% endif %}>
                        <td>{{ row.job_number }}</td>
                        <td>{{ row.priority }}</td>
                        <td>{{ row.order_type }}</td>
                        <td>{{ row.status }}</td>
                        <td>{{ row.parent_job_number }}</td>
                        <td>{{ row.part_number }}</td>
                        <td>{{ row.part_description }}</td>
                        <td>{{ row.current_step }}</td>
                        <td>{{ row.quantity_to_make|int }}</td>
                        <td>{{ row.quantity_open|int }}</td>
                        <td>{{ row.customer_code }}</td>
                        <td>{{ row.customer_po or '' }}</td>
                        <td class="text-end">
                            {% if row.sales_amount %}$&nbsp;{{ '{:,.2f}'.format(row.sales_amount) }}{% endif %}
                        </td>
                        <td>{{ row.order_date }}</td>
                        <td>{{ row.ship_by_date }}</td>
                        <td>{{ row.scheduled_end_date or '' }}</td>
                        <td>{{ row.vendor.splitlines() | join('<br>' | safe) if row.vendor }}</td>
                        <td>{{ row.vendor_po.splitlines() | join('<br>' | safe) if row.vendor_po }}</td>
                        <td>{{ row.po_date.splitlines() | join('<br>' | safe) if row.po_date }}</td>
                        <td>{{ row.po_due_date.splitlines() | join('<br>' | safe) if row.po_due_date }}</td>
                        <td>{{ (g.job_notes.get(row.job_number) or '') | replace('\n', '<br>' | safe) }}</td>
                        <td>
                            <a class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                               data-job-number="{{ row.job_number }}" data-next-view="open_sales_report"
                               data-notes="{{ g.job_notes.get(row.job_number) or '' }}" href="#modal-job-notes">
                                <i class="bi-pencil-fill"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include 'includes/modal-job-notes.html' %}
{% endblock %}

{% block end_of_body %}
    <script src="{{ url_for('static', filename='modal-job-notes.js') }}"></script>
{% endblock %}
