{% extends 'base.html' %}

{% set title = 'Settings' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include 'includes/back-to-home.html' %}
{% endblock %}

{% block content %}
    {% include 'includes/page-title-h1.html' %}

    <div class="row pt-3">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">E2 database</h5>

                    {% if not g.db.e2_database_configured %}
                    <div class="alert alert-warning">
                        You must configure E2 database settings before you can use this app.
                    </div>
                    {% endif %}

                    <form action="{{ url_for('settings_save') }}" method="post">
                        <div class="mb-3">
                            <label class="form-label" for="e2-hostname">Hostname</label>
                            <input type="text" class="form-control" id="e2-hostname" name="e2-hostname"
                                   value="{{ g.db.e2_hostname if g.db.e2_hostname }}" placeholder="server[:port]">
                            <div class="form-text">
                                The name or IP address of the server where the E2 database is hosted. If the server is
                                listening on a port other than <code>1433</code>, add the port after the hostname and
                                separate it from the hostname with <code>:</code>.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="e2-database">Database</label>
                            <input type="text" class="form-control" id="e2-database" name="e2-database"
                                   value="{{ g.db.e2_database if g.db.e2_database }}">
                            <div class="form-text">
                                The name of the database that contains the data for E2.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="e2-user">User</label>
                            <input type="text" class="form-control" id="e2-user" name="e2-user"
                                   value="{{ g.db.e2_user if g.db.e2_user }}">
                            <div class="form-text">
                                The name of the user that has permission to connect to the database. The user can have
                                read-only permission. This may be different from the user that can log in to the E2
                                application.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="e2-password">Password</label>
                            <input type="password" class="form-control" id="e2-password" name="e2-password"
                                   value="{{ g.db.e2_password if g.db.e2_password }}">
                            <div class="form-text">
                                The password for the user to connect to the database.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
